body {
  margin: 0;
  padding: 0;
  text-align: center;
  box-sizing: border-box;
  font-family: 'Slabo 27px', serif;
}

.website_header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #70AE6E;
  padding: 30px;
  margin: auto;
  box-sizing: border-box;
}

.website_app {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  box-sizing: border-box;
}

.website_appforma {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.website_app--submit {
  width: 15vw;
  border-style: 2px solid;
  border-radius: 5px;
  border-color: #F06292;
  padding: 1em 1.5em;
  text-decoration: none;
  text-transform: uppercase;
  box-sizing: border-box;
  outline: none;
  margin: 40px;
  background-color: #70AE6E;
  color: white;
  border-color: #70AE6E;
}

.website_app--submit:hover {
  background-color: white;
  color: #70AE6E;
  border-color: #70AE6E;
  outline: none;
}

.website_app--text {
  margin: auto;
  margin-top: 60px;
  width: 40vw;
  height: 140px;
  font-size: 20px;
  border: 5px solid #F06292;
  text-align: center;
  box-shadow: 6px 6px #F06292;
}

.website_app--text::placeholder {
  text-align: center;
}

.website_app--text, select { 
  outline: none;
}

.website_answer {
  font-size: 40px;
  margin: 20px;
}

.website_letterCounter {
  font-size: 30px;
  margin: 50px;
}

.website_lettersGuessed {
  font-size: 30px;
}